@import url("https://fonts.cdnfonts.com/css/instrument-sans");
html * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  text-wrap: wrap;
  font-weight: 400;
  font-family: "Instrument Sans", sans-serif;
  color: #f3f3f3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html *::selection {
  background: #589ccb;
  color: #121212;
}

#hamburgermenu {
  display: none;
}

body {
  height: 100%;
  width: 100dvw;
  background: #232323;
  overflow-x: hidden;
}

.contentWrapper {
  width: 100vmin;
  height: calc(100% - 5vmin);
  margin: auto;
  padding: 5vmin;
  z-index: 16;
}

.shade {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
}

.text_wrapper {
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_wrapper h1 {
  margin-bottom: 3vmin;
  color: #f3f3f3;
  width: 100%;
  font-size: 7.5vmin;
  line-height: 7vmin;
  font-weight: bold;
}
.text_wrapper p {
  margin-bottom: 3vmin;
  color: #d7d7d7;
  width: 100%;
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  font-weight: lighter;
}
.text_wrapper hr {
  border: 1px solid #2a2a2a;
  margin-bottom: 2vmin;
  width: 100%;
}

.left {
  position: absolute;
  width: 50%;
  left: 0%;
  height: 100%;
  top: 0%;
}

.right {
  position: absolute;
  width: 50%;
  right: 0%;
  height: 100%;
  top: 0%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 8.5vmin;
  width: 100dvw;
  z-index: 999;
  transition: 0.35s;
  padding-right: 5vmin;
  font-size: 2.35vmin;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 3vmin;
  border-bottom: 1px solid #2a2a2a;
  border-width: 0px;
}
nav #nav_logo {
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url("../assets/flux_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  cursor: pointer;
  left: -10px;
  transform: translateY(-50%);
}
nav a {
  text-decoration: none;
  transition: 0.35s;
  display: block;
}
nav a:hover {
  transform: scale(115%);
}
nav .selected {
  font-weight: bold;
}

.nav_active {
  background: #141414;
}

@keyframes loadingani {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#loading {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #121212;
  z-index: 9997;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
  pointer-events: auto;
}
#loading svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading #loading_logo {
  height: 30vmin;
  aspect-ratio: 1/1;
  background-image: url("../assets/flux_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
  transition: 0.35s;
  animation: 3s infinite loadingani;
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #589ccb) drop-shadow(0 0 15vmin #589ccb) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.3137254902));
}

.ignore-css {
  all: unset;
}

header {
  height: 85vmin;
  width: 100dvw;
  overflow: hidden;
  border-bottom: 1px solid #2a2a2a;
  background: repeating-linear-gradient(45deg, #121212, #121212 5px, #191919 5px, #191919 10px);
}
header h1 {
  margin-bottom: 3vmin;
  color: #f3f3f3;
  font-size: 7.5vmin;
  line-height: 7vmin;
  font-weight: bold;
}
header p {
  margin-bottom: 3vmin;
  color: #d7d7d7;
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  font-weight: lighter;
}
header hr {
  border: 1px solid #2a2a2a;
  margin-bottom: 2vmin;
  width: 100%;
}
header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  border-right: 1px solid #2a2a2a;
}
header .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  width: 100%;
}
header button {
  width: 100%;
  padding: 2vmin;
  background: #232323;
  border-radius: 5vmin;
  border: 1px solid #2a2a2a;
  font-size: 1.75vmin;
  cursor: pointer;
  transition: 0.35s;
}
header button:hover {
  transform: translateY(-1vmin);
  background: #589ccb;
  border: 1px solid #2f6185;
  filter: drop-shadow(0 0 30vmin rgba(88, 156, 203, 0.3137254902)) drop-shadow(0 0 15vmin rgba(88, 156, 203, 0.1882352941));
}
header #logo {
  height: 40vmin;
  aspect-ratio: 1/1;
  background-image: url("../assets/flux_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
  transition: 0.35s;
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #589ccb) drop-shadow(0 0 15vmin #589ccb) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.3137254902));
}
header #logo:hover {
  transform: scale(110%) rotate(-5deg);
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #589ccb) drop-shadow(0 0 15vmin #589ccb) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.8352941176));
}

#section1 {
  height: 85vmin;
  width: 100dvw;
  background: #141414;
  overflow: hidden;
  border-bottom: 1px solid #2a2a2a;
  text-align: right;
}
#section1 .left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #2a2a2a;
}
#section1 .right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
}
#section1 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section1 #whyus_symbol {
  height: 30vmin;
  aspect-ratio: 1/1;
  background-image: url("../assets/icons/whyus_symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
  transition: 0.35s;
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #589ccb) drop-shadow(0 0 15vmin #589ccb) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.3137254902));
}
#section1 #whyus_symbol:hover {
  transform: scale(110%) rotate(-5deg);
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #589ccb) drop-shadow(0 0 15vmin #589ccb) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.8352941176));
}

#section2 {
  height: 85vmin;
  width: 100dvw;
  overflow: hidden;
  border-bottom: 1px solid #2a2a2a;
  background-image: url("../assets/bg/topography.png");
  background-size: cover;
}
#section2 h1 {
  margin-bottom: 3vmin;
  color: #f3f3f3;
  font-size: 7.5vmin;
  line-height: 7vmin;
  font-weight: bold;
}
#section2 p {
  margin-bottom: 3vmin;
  color: #d7d7d7;
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  font-weight: lighter;
}
#section2 hr {
  border: 1px solid #2a2a2a;
  margin-bottom: 2vmin;
  width: 100%;
}
#section2 .left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  border-right: 1px solid #2a2a2a;
}
#section2 .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section2 #ourgoals_symbol {
  height: 30vmin;
  aspect-ratio: 1/1;
  background-image: url("../assets/icons/ourgoals_symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
  transition: 0.35s;
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #589ccb) drop-shadow(0 0 15vmin #589ccb) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.3137254902));
}
#section2 #ourgoals_symbol:hover {
  transform: scale(110%) rotate(-5deg);
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #589ccb) drop-shadow(0 0 15vmin #589ccb) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.8352941176));
}

#section3 {
  height: 60vmin;
  width: 100dvw;
  overflow: hidden;
  border-bottom: 1px solid #2a2a2a;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3.5vmin;
  background: #191919;
  gap: 1vmin;
}
#section3 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section3 h1 {
  font-size: 7.5vmin;
  margin: 0;
}
#section3 #downloads_carousel {
  height: calc(100% - 10vmin);
  width: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vmin;
  filter: drop-shadow(0 0 30vmin rgba(88, 156, 203, 0.1450980392)) drop-shadow(0 0 15vmin rgba(88, 156, 203, 0.1450980392)) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0.0196078431));
}
#section3 #downloads_carousel .download {
  height: 100%;
  aspect-ratio: 2/3;
  background: #191919;
  border: 1px solid #2a2a2a;
  border-radius: 2vmin;
  transition: 0.35s;
  padding: 2vmin;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1vmin;
}
#section3 #downloads_carousel .download #source {
  background-image: url("../assets/icons/gh.png");
}
#section3 #downloads_carousel .download h2 {
  width: 100%;
  text-align: left;
  font-size: 3.5vmin;
}
#section3 #downloads_carousel .download p {
  width: 100%;
  text-align: left;
  font-size: 1.65vmin;
  color: #c2c2c2;
}
#section3 #downloads_carousel .download .iconWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#section3 #downloads_carousel .download .icon {
  width: 85%;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#section3 #downloads_carousel .download a {
  width: 100%;
}
#section3 #downloads_carousel .download button {
  width: 100%;
  padding: 0.75vmin 0;
  border-radius: 1vmin;
  background: #232323;
  border: 1px solid #2a2a2a;
  flex: 1;
  cursor: pointer;
  font-size: 1.65vmin;
  transition: 0.35s;
}
#section3 #downloads_carousel .download button:hover {
  transform: translateY(-0.5vmin);
  background: #589ccb;
  border: 1px solid #2f6185;
  filter: drop-shadow(0 0 30vmin rgba(88, 156, 203, 0.3137254902)) drop-shadow(0 0 15vmin rgba(88, 156, 203, 0.1882352941));
}
#section3 #downloads_carousel .download:hover {
  transform: scale(105%);
  z-index: 156;
  filter: drop-shadow(0 0 30vmin rgba(88, 156, 203, 0.0823529412)) drop-shadow(0 0 15vmin rgba(88, 156, 203, 0.0823529412)) drop-shadow(0 0 5vmin rgba(88, 156, 203, 0));
}/*# sourceMappingURL=style.css.map */